
<span>
	<% if att.type == 'Bookmark' %>
		 <img src="http://g.etfv.co/<%=att.url%>" alt="Google" width="16" height="16" /> <a href="<%=att.url%>"><%=att.name%></a> 
	<% elsif att.type == 'Folder'  %>
		 <a href="/folder/<%=att.id%>"><%=att.name%></a>
	<% elsif att.type == 'Todo' %> 
		<label class="checkbox">
			<input type="checkbox"> <%=att.name%>
		</label>
	<% elsif att.type == 'Note' %> 
		<blockquote>
		<%= att.body %>
		<cite><%=att.name%></cite>
		</blockquote>
	<% else %>
		<%=att.name%>
	<%end%>
</span>